.appBackground{
  background-color: white;
}

.appSearch{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.appText{
  font: italic small-caps bold 16px cursive;
  margin: 10px;
}
